body {
  margin: 0;
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"); /*Unsplash.com*/
  background-size: cover; /*To cover whole body hence to avoid background-repeat issue*/
}

h2 {
  text-transform: capitalize;
  letter-spacing: 4px;
  font-size: 24px;
  text-align: center;
}

.clock {
  display: flex;
}

.clock div {
  margin: 5px;
  position: relative;
}

.clock span {
  height: 80px;
  width: 100px;
  opacity: 80%;
  background: rgb(8, 231, 247);
  color: white;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: rgb(8, 173, 214);
  opacity: 0.8;
}

.clock #ampm {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  background: green;
}
