body {
  margin: 0;
  padding: 0;
  background-color: rgb(31, 32, 34);
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  display: flex; /*To horizantly aligned elements.*/
  justify-content: center; /*Horizontally center*/
  align-items: center; /*Vertically center*/
}

/* Titan Img
 img {
  width: 50px;
  position: absolute;
  To make the logo in top-center
  left: 50%;
  transform: translateX(-50%);  To right shift the logo in center
  top: 60px;
  z-index: 2; As we want logo over the clock
} */


.clock {
  /*In order to put logo on the clock we declare clock as relative & img as absolute*/
  position: relative;
  background-color: #FFF;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 15px solid rgb(151, 152, 152);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); /*H, V, BLUR RADIUS, black wih 70% transprency*/
}

.time div {
  position: absolute;
  font-size: 27px;
  font-weight: 600;
  color: rgb(22, 22, 22);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /*H, V, Blur Radius, black with 70% transprency*/
}

.twelve {
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.three {
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.six {
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
}

.nine {
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.arrows {
  display: flex; /*To be on center*/
  width: 100%;
  height: 100%;
  justify-content: center; /*Horizontally center*/
  align-items: center; /*Vertically center*/
}

/*To make the center arrows-circle */
.arrows::before{
  content: ""; /*To make the cicle visible. By default we have to use content whenever we use pusedo before.*/
  width: 25px;
  height: 25px;
  background-color: brown;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
  z-index: 4; /*we want it to be top of time-hands.*/
}

.arrows div {
  background-color: rgb(95, 8, 129);
  width: 6px;
  position: absolute;
  height: 100px;
  bottom: 50%;
  transform-origin: bottom center; /* To make handles rotate from their bottom-center. */
  z-index: 3; /* to be top of img logo*/
  border-radius: 50% 50% 0 0; /*to make top hand-arrow*/
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.7);
}

.arrows .hour {
  height: 120px;
  transform: rotate(
    30deg
  ); /*just to separate hour hand as all hands are overlapped.*/
  background-color: black;
}

.arrows .minute {
  height: 150px;
  transform: rotate(
    60deg
  ); /*just to separate hour hand as all hands are overlapped.*/
  background-color: black;
}

.arrows .second {
  transform: rotate(
    90deg
  ); /*just to separate hour hand as all hands are overlapped.*/
}
