body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: greenyellow;
}

.form {
  position: absolute;
  top: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 250px;
  background-color: lightpink;
  border: 10px;
  border-radius: 10px 10px 0 0;
  font-family: cursive;
}

.input {
  width: 100%;
  box-sizing: border-box; /*To make it completely fit into the form.*/
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-family: cursive;
  font-size: 20px;
}

.input::placeholder {
  color: lightgrey;
}

.list {
  padding: 0;
  margin: 0;
}

.list li {
  list-style: none;
  padding: 20px;
  border-top: dotted;
  border-color: darkgrey;
  position: relative;
}

.list li .fa-check-square {
  color: blue;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li .fa-trash {
  color: red;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list li.checked {
  color: darkgrey;
  text-decoration: line-through;
}

.list li.checked .fa-check-square {
  color: darkgray;
}
