body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background-color: rgb(208, 255, 0);
  font-family: cursive;
}

h2 {
  color: rgb(245, 17, 17);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.year {
  font-size: 50px;
  color: rgb(7, 29, 226);
  font-weight: bold;
}

.countdown {
  display: flex;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.countdown div {
  margin: 0 15px;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: -25px;
  position: relative;
  width: 100px;
  text-align: center;
}

.countdown #days::before {
  content: "Days";
}
.countdown #hours::before {
  content: "Hours";
}
.countdown #minutes::before {
  content: "Minutes";
}
.countdown #seconds::before {
  content: "Seconds";
}

.countdown div::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 0.35em;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  height: 35px;
}
