body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: cursive;
  display: flex;
  justify-content: center; /*justify-content get active when we use display:flex*/
  align-items: center; /*To vertically center the element we have to set the height */
  background-color: blue;
}

.container {
  background-color: white;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.8);
}

#month-name {
  margin: 0;
  background-color: orangered;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#day-name {
  margin: 0;
  padding: 15px;
  font-size: 20px;
  color: rgb(160, 163, 167);
}

#date {
  font-size: 55px;
  font-weight: bold;
  margin: 0;
  padding: 15px;
}

#year {
  margin: 20px;
  font-size: 16px;
  color: rgb(160, 163, 167);
  text-decoration-line: underline;
}
